@charset "UTF-8";
/* CSS Document */

	
.grayscale {

  /* for Webkit browsere, Chrome 19+, Safari 6+ ... */
  -webkit-filter: grayscale(1);

  /* this is for Firefox 3.5+, Firefox mobile */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");

  /* for IE6+ */
  filter: gray;
}

.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.btn {
  font-size: 10px;
}

.nav-pills a {
  color:#000000;
}

#active a {
  color:#000000;
  font-weight: bold;
}

h1 {
  padding-right:20px;
  padding-left:20px;
  font-family: 'Lato', sans-serif;
}

h2 {
  padding-right:20px;
  padding-left:20px;
  font-family: 'Lato', sans-serif;
  font-size: 2.5vh;
}

h3 {
  padding-right:20px;
  padding-left:20px;
  font-family: 'Lato', sans-serif;
}

h4 {
  padding-right:20px;
  padding-left:20px;
  font-family: 'Lato', sans-serif;
  font-size: 2.5vh;
}

button {
  text-align: center;
  background-color:#9f4936;
  font-size: 30px;
  font-family: 'Lato',sans-serif;
  box-shadow: 0px;
  margin: 20px;
  border-color: #9f4936;
  padding:5px;
  float: right;
}

.information-design {
  color: rgb(163, 147, 88);
  text-transform: uppercase;
}

.sustainable-design {
  color: rgb(159, 73, 54);
  text-transform: uppercase;
}

.environmental-research {
  color: rgb(108, 128, 81);
  text-transform: uppercase;
}