
.diagram {
	background-color: #ffffff;
	vertical-align: middle;
	}

.diagram h2 {
	color: #000000;
	padding-top: 10px;
	}

.diagram p {
	color: #000000;
	vertical-align: middle;
	padding-top: 150px;
	}

.diagram img {
    width: 100%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-family: Verdana, Arial, Sans-Serif;
	margin-top: 10px;
	margin-bottom: 10 px;
	position: absolute;
	float: left;
}

#phase0 {
    background-image: url(Images/phase0.png);
	position: absolute;
}

#phase1 {
    background-image: url(Images/phase1.png);
	position: absolute;
}

#phase2 {
    background-image: url(Images/phase2.png);
	position: absolute;
}

#phase3 {
    background-image: url(Images/phase3.png);
	position: absolute;
}

#phase4 {
    background-image: url(Images/phase4.png);
	position: absolute;
}

#phase5 {
    background-image: url(Images/phase5.png);
	position: absolute;
}

.drawings {
	background-color: #ffffff;
	height: 700px;
	width: 100%;
	}
	
.drawings img {
	max-width: 100%;
	vertical-align: middle;
	}

.graph {
	width: 50%;
	position: relative;
	float: right;
	vertical-align: middle;
	
	margin: 30px;
	
	}

	
button {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	border-color: #ffffff;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 2px;
	}


	
#p1 {
	background-color: #2B8C54;
	color: #ffffff;
	outline-color: #2B8C54;
	}
	
#p2 {
	background-color: #228DBA;
	color: #ffffff;
	outline-color: #228DBA;
	}
	
#p3 {
	background-color: #EBBA34;
	color: #ffffff;
	outline-color: #EBBA34;
	}
	
#p4 {
	background-color: #80A638;
	color: #ffffff;
	outline-color: #80A638;
	}
	
#p5 {
	background-color: #3DB7E4;
	font-color: #ffffff;
	color: #ffffff;	
	outline-color: #3DB7E4;
	}
