 /* Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.container {
  width: 90%;
}

nav {
  height: 90px;
  padding: 25px;
}

nav img {
  float:none;
  padding:0;
  max-width: 40%;
  max-height: 80px;
}

.menu {
  display: inline;
  float: right;
  margin-top: 30px;
  margin-right: 1%;
}

nav a {
  padding:0 15px 0 0;
  color: #8a8a8a;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

nav a:hover {
  color:#000;
  text-decoration: none;
}

.active {
  color:#000;
  font-weight:bold;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 25px;
}

p {
  color: #000000;
  font-size: 18px;
  font-family: 'Lato';
  font-weight: 300;
}

.row .project p {
  padding-top: 5px;
  font-size: 13px;
  color: #8b8b8b;
}


.project {
  width: 32%;
  margin: 0 1% 0 0;
  padding: 0;
  float: left;
}

h1 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    margin-top: 0;
}

.page-header p {
  font-weight: 300;
  font-size: 15px;
  color: #8a8a8a;
}

li {
  font-family: 'Lato', sans-serif;
}


.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  transition: filter 1s linear;
  -webkit-transition: -webkit-filter .2s linear, filter .2s linear;
}

a {
  color: #ccc;
  transition: color .3s linear;
}

a:hover {
  color: #8b8b8b;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.thumbnail.grayscale:hover {
  outline-color: #777777;
  border-color: #777777;
}


.work-page.row {
  margin: 0;
  }

.thumbnail {
  padding:0;
  margin:0 0 20px 0;
  border-radius: 0;
  border: 0px solid #fff;
  box-shadow: none;

}

.thumbnail img, {
  margin-left: 0;
  margin-right: 0;
  max-height:96%;
  width:100%;
  padding:0px;
  overflow: hidden;
}

.thumbnail svg {
  margin: 20px 0;
  padding: 0;
}

.thumbnail h5 {
	padding-top: 0;
  margin: 0;
	text-align: center;
  color: #000000;
  font-size: 1.25em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
	}


.thumbnail p {
  text-align: center;
  padding-top:0;
  margin: 0;
  font-size: .75em;
}

a.thumbnail:hover {
  font-weight: 400;
  cursor: pointer;
}


.pid p {
  color: #6C8051;
}

.btn {
  font-size: 10px;
}

.nav-pills a {
  color:#000000;
}

#active a {
  color:#000000;
  font-weight: bold;
}


/*.controls{
  padding: 0% 2% 2% 0%;
  color: #ffffff;
}

.filter {
  margin: 0% 1% 1% 0%;
}
*/
label{
  font-weight: 300;
  margin: 0 0 0 0;
}

button {
  text-align: center;
  background-color:#ffffff;
  font-size: 15px;
  color:#8a8a8a;
  font-family: 'Lato',sans-serif;
  margin: 0px;
  border-color: #8a8a8a;
  border-width: 4px;
  box-shadow: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius:2px;
  border-style: solid;
}

button:hover {
  color:#000000;
  border-color: #000000;

}

button:active {
  color:#262626;
  border-color: #262626;
}

button:focus {
  outline:0;
}

.row img {
  padding-bottom:10px;
  padding-top:10px;
}

.row p {
  padding-top: 10px;
}

.information-design {
  color: rgb(163, 147, 88);
  text-transform: uppercase;
}

.sustainable-design {
  color: rgb(159, 73, 54);
  text-transform: uppercase;
}

.environmental-research {
  color: rgb(108, 128, 81);
  text-transform: uppercase;
}

.fa {
  color:#8a8a8a;
}

.fa:hover {
  color:#000000;
}

.glyphicon {
  color:#000000;
}

.img-responsive {
  margin: 10px 0;
}

.p4p-web-version {
  background-image: url("images/p4p-web-version.png");
  background-color: #a5d9ea;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0px solid #000;
  -webkit-box-shadow: inset 0px 0px 175px 19px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 175px 19px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 175px 19px rgba(0,0,0,0.75);
}

.storywood-link {
  background-image: url("images/storywood_link.png");
  background-repeat: no-repeat;
  background-width: 100%;
  background-height: auto;
  background-position: center;
  border: 0px solid #000;
  -webkit-box-shadow: inset 0px 0px 175px 19px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 175px 19px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 175px 19px rgba(0,0,0,0.75);
}

.p4p-web-version a, .storywood-link a {
  display: inline-block;
  text-align: center;
  border: 0px solid #fff;
  border-radius: 5px;
  font-family: 'Lato' sans-serif;
  font-weight: 300;
  width: 40%;
  padding: 30px 20px;
  color: #fff;
  font-size: 20px;
  margin: 30% 30%;
  -webkit-box-shadow: inset 0px 0px 175px 19px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0px 0px 175px 19px rgba(0,0,0,0.8);
  box-shadow: inset 0px 0px 175px 19px rgba(0,0,0,0.8);
}

.p4p-web-version a:hover {
  -webkit-box-shadow: inset 0px 0px 175px 19px rgba(0,0,0,0.9);
  -moz-box-shadow: inset 0px 0px 175px 19px rgba(0,0,0,0.9);
  box-shadow: inset 0px 0px 175px 19px rgba(0,0,0,0.9);
}

.p4p-web-version i, .storywood-link i {
  color: #fff;
}

.p4p-web-version.grayscale, .storywood-link.grayscale, .cover.grayscale {
  /* for Webkit browsere, Chrome 19+, Safari 6+ ... */
  -webkit-filter: grayscale(.6);
  /* this is for Firefox 3.5+, Firefox mobile */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");
  /* for IE6+ */
  filter: gray;
}


footer {
  height:75px;
  width:90%;
  text-align:right;
  font-size:20px;
}

.fa {
  margin-left:5px;
}

#proxyMap, #cliftonMap, #cpsMap {
    width: 100%;
    height: 500px;
    margin: 2em auto;
    box-shadow: none;
}

/*.leaflet-container .leaflet-control-attribution {
    background-color: transparent;

}

.leaflet-control-attribution a {
    visibility: hidden;
    font-size: 1em !important;
    color: #444 !important; 
    font-weight: normal !important;
}

.leaflet-popup-content {
    color: #444;
}*/

svg {
  width:100%;
}

video {
  max-width: 100%;
}


/*Storywood Interaction
===========================================*/

.storywoodCaption {
  background-color: #fff;
  height: 380px;
  margin:-7% 5% 0 5%;
}

.storywoodCaption p {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 14px;
}

.storywoodCaption .fa {
  padding-right: 20px;
  font-size: 16px;
}

.reuse h3 {
  color:#80A638;
}

.recycling h3 {
  color:#228DBA;
}

.commercial h3 {
  color: #EBBA34;
}


/* Pilot animation
=============================================================================*/
.envelope svg {
    width:100%;
    margin-top: 20px;
    padding-left: 0%;
}

.envelope {
  color: #fff;
  background-color: #6ba1b9;
}

.open #envelopeOpen {
  opacity: 0;
  filter:alpha(opacity=0);
  -webkit-animation: openFirst .1s linear 1s;
          animation: openFirst .1s linear 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.open #paperInside {
  opacity: 0;
  filter:alpha(opacity=0);
  -webkit-animation: openUp .2s linear 1.3s;
          animation: openUp .2s linear 1.3s;
}

.open #paperHalf {
  opacity: 0;
  filter:alpha(opacity=0);
  -webkit-animation: pullOut .2s linear 1.5s;
          animation: pullOut .2s linear 1.5s;
}

.open #paperFull {
  opacity: 0;
  filter:alpha(opacity=0);
  -webkit-animation: openFull 1s linear 1.7s;
          animation: openFull 1s linear 1.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes openFirst {
  100% { 
    opacity:1; 
    filter:alpha(opacity=100);
  }
}

@keyframes openFirst {
  100% { 
    opacity:1; 
    filter:alpha(opacity=100);
  }
}

@-webkit-keyframes openUp {
  0% { 
    opacity:1; filter:alpha(opacity=100); 
  }
  95% { 
    opacity:1; 
    filter:alpha(opacity=100);
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px); 
  }
  100% { 
    opacity:1; 
    filter:alpha(opacity=100);
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
}

@keyframes openUp {
  0% { 
    opacity:1; filter:alpha(opacity=100); 
  }
  95% { 
    opacity:1; 
    filter:alpha(opacity=100);
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px); 
  }
  100% { 
    opacity:1; 
    filter:alpha(opacity=100);
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
}

@-webkit-keyframes pullOut {
  0% { 
    opacity:1; 
    filter:alpha(opacity=100); 
  }
  95% { 
    opacity:1; 
    filter:alpha(opacity=100);
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px); 
  }
  100% {
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
  }
}

@keyframes pullOut {
  0% { 
    opacity:1; 
    filter:alpha(opacity=100); 
  }
  95% { 
    opacity:1; 
    filter:alpha(opacity=100);
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px); 
  }
  100% {
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
  }
}

@-webkit-keyframes openFull {
  0% { 
    opacity: 1; filter:alpha(opacity=100); 
  }
  10% { 
    opacity:1; filter:alpha(opacity=100); 
  }
  100% { 
    opacity:1; 
    filter:alpha(opacity=100);
    -webkit-transform: translateY(600px);
            transform: translateY(600px);
  }
}

@keyframes openFull {
  0% { 
    opacity: 1; filter:alpha(opacity=100); 
  }
  10% { 
    opacity:1; filter:alpha(opacity=100); 
  }
  100% { 
    opacity:1; 
    filter:alpha(opacity=100);
    -webkit-transform: translateY(600px);
            transform: translateY(600px); 
  }
}



/*Brownfields Interaction
===========================================*/

#landUse {
  display: none;
}

#reuseSites {
  display: none;
}

#communityAssets {
  display: none;
}

.lv-map {
  margin: 1em 0 1em 0;
}

.lv-map-form > svg {
  display: inline;
}

.lv-map-form img {
  height: 20px;
  padding: 0;
  margin-right: 10px;
}

.lv-map-form h3 {
  margin-top: 30px;
  padding-bottom: 0;
  font-size: 18px;
}

.lv-map-form p {
  padding: 0;
  margin: 3px;
  font-size: 14px;
}

#landKey, #assetKey, #sitesKey {
  display: none;
}

.sliderAnimation {
  height: 450px;
}

#lvBaseMap {
  width: 49%;
  padding-left: 5%;
  margin: 0;
  position: absolute;
  top: 300px;
  left: 1%;
}

#lvLandMap, #lvCommunityMap, #lvSitesMap {
  width: 49%;
  padding-right: 5%;
  margin: 0;
  position: absolute;
  top: 300px;
  right: 0;
}

.landSlide {
  -webkit-animation: landSlide 20s ease-in-out 2s infinite;
          animation: landSlide 20s ease-in-out 2s infinite;
}

.communitySlide {
  -webkit-animation: communitySlide 20s ease-in-out 2s infinite;
          animation: communitySlide 20s ease-in-out 2s infinite;
}

.siteSlide {
  -webkit-animation: siteSlide 20s ease-in-out 2s infinite;
          animation: siteSlide 20s ease-in-out 2s infinite;
}

@-webkit-keyframes landSlide {
  0% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  20% { 
    -webkit-transform: translateX(-91.5%); 
            transform: translateX(-91.5%);
  }
  80% { 
    -webkit-transform: translateX(-91.5%); 
            transform: translateX(-91.5%);
  }
  90% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes landSlide {
  0% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  20% { 
    -webkit-transform: translateX(-91.5%); 
            transform: translateX(-91.5%);
  }
  80% { 
    -webkit-transform: translateX(-91.5%); 
            transform: translateX(-91.5%);
  }
  90% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes communitySlide {
  0% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  25% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  40% { 
    -webkit-transform: translateX(-91.5%); 
            transform: translateX(-91.5%);
  }
  80% { 
    -webkit-transform: translateX(-91.5%); 
            transform: translateX(-91.5%);
  }
  90% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes communitySlide {
  0% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  25% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  40% { 
    -webkit-transform: translateX(-91.5%); 
            transform: translateX(-91.5%);
  }
  80% { 
    -webkit-transform: translateX(-91.5%); 
            transform: translateX(-91.5%);
  }
  90% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes siteSlide {
  0% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  50% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  70% { 
    -webkit-transform: translateX(-91.5%); 
            transform: translateX(-91.5%);
  }
  80% { 
    -webkit-transform: translateX(-91.5%); 
            transform: translateX(-91.5%);
  }
  90% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes siteSlide {
  0% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  50% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  70% { 
    -webkit-transform: translateX(-91.5%); 
            transform: translateX(-91.5%);
  }
  80% { 
    -webkit-transform: translateX(-91.5%); 
            transform: translateX(-91.5%);
  }
  90% { 
    -webkit-transform: translateX(0); 
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*Impact interaction
===========================================*/

#walkToSov, #bikeToSov, #transitToSov, 
#paperToWaste, #beverageToWaste, #mixedToWaste, #ewasteToWaste,
#electricitySavedToKwh, #renewableToKwh, #waterToKwh, #wasteToKwh, 
#wasteToGas, #sovToGas, 
#waterToWater, #electricitySavedToWater,
#wasteToTrees,  
#sovToGhg, #wasteToGhg, #kwhToGhg,#carbonCreditsToGhg, #waterToGhg {
  opacity: .3;
}

#walkMiles, #bikeMiles, #transitMiles,
#paperRecyclables, #beverageContainers, #mixedRecyclables, #ewasteRecyclables,
#savedElectricity, #renewableEnergyCredits, #carbonCredits,
#waterConsumed,
#sovMilesTotal,
#wasteTotal,
#gasTotal,
#treesTotal,
#kwhTotal, 
#waterTotal,
#ghgTotal {
  opacity: .3;
  cursor: pointer;
}

#walkMiles, #walkToSov, #sovMilesTotal, #sovToGas, #sovToGhg, #gasTotal, #ghgTotal {
  opacity: 1;
}

.dark {
  opacity: 1;
}


#amount {
  font-family: 'Lato';
  font-weight: 400;
  color: #000;
}


/*Mobile Styles
=======================================================*/

@media only screen and (min-device-width: 800px) {
  .grayscale {

    /* for Webkit browsere, Chrome 19+, Safari 6+ ... */
    -webkit-filter: grayscale(1);

    /* this is for Firefox 3.5+, Firefox mobile */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");

    /* for IE6+ */
    filter: gray;
  }
}

@media only screen and (max-width: 1000px) {
  .project {
    width: 49%;
    margin: 0 1% 0 0;
    padding: 0;
  }

  .menu {
    margin-top: 20px;
  }

}


@media only screen and (max-device-width: 670px) {
  
  nav {
    height: 150px;
  }

  nav img {
    width: 50%;
    max-height:100px; 
  }

  .hamburger {
    display: inline;
    float: right;
    font-size: 40px;
    margin: 30px 1% 0 0;
  }

  .menu {
    height: 0;
    overflow: hidden;
    display: block;
    width: 100%;
    text-align: center;
    transition: height .3s linear;
  }

  .menu a {
    width: 100%;
    display: block;
    text-align: center;
    transition: background-color .2s linear;
    padding: 8px;
    font-size: 40px;
  }

  .menu a:hover {
    background-color: #eee;
  }

  .openMenu {
    height: 150px;
    transition: height .3s linear;
  }

  .shiftDown {
    transform: translateY(100px);
    transition: transform .3s linear;
  }

  .shiftUp {
    transform: translateY(0px);
    transition: transform .3s linear;
  }

  .project {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .page-header p {
    font-size: 20px;
  }

  .project h5 {
    font-size: 40px;
  }

  .project p {
    font-size: 30px;
  }

  p {
    font-size: 30px;
  }

}

@media only screen and (max-width: 850px) {
  .sliderAnimation {
    height: 300px;
  }
}


@media only screen and (max-width: 550px) {
  nav img {
    max-width: 100%;
    width: 100%;
    padding: 0 15%;
  }

  .menu {
    width: 100%;
    text-align: center;
  }

  .project {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .sliderAnimation {
    height: 200px;
  }

}

