<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

<body>
  <nav class="container">
    <a href="index.html"><img src="../images/colleenmcginnis.png"alt="Colleen McGinnis"></a>
    <i class="fa fa-bars hamburger"></i>
    <div class="menu">
      <a href="index.html" class="active">WORK</a>
      <a href="../resume/index.html">ABOUT</a>
    </div>   
  </nav> 
  <div class="container page-content"> 	
    <div class="page-header">
  		<h1>{{ page.title }}</h1>
      <h3>{{ page.subtitle }}</h3>
      <p>{{ page.category }}</p>
        
    </div>
      
    {{ content }}

  </div>

  <footer>
        <a href="mailto:colleenjmcginnis@gmail.com"><span class="fa fa-envelope"></span></a>
        <a href="https://www.linkedin.com/pub/colleen-mcginnis/27/691/45" target="_blank"><span class="fa fa-linkedin"></span></a>
        <a href="https://github.com/colleenmcginnis" target="_blank"><span class="fa fa-github"></span></a>
        <a href="https://instagram.com/cmcg1110/" target="_blank"><span class="fa fa-instagram"></span></a>
        <a href="https://twitter.com/cmcg1110" target="_blank"><span class="fa fa-twitter"></span></a>
  </footer>
  
  

  {% include twentysomething.html %}
  
  
  <script>
    $('.hamburger').on('click', function(){
      $('.menu').toggleClass('openMenu');
      $('.page-content').toggleClass('shiftDown');
    });
  </script>

</body>
</html>
