<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class='container'>
      <a href="../index.html"><img style="padding:10px" src="images/colleenmcginnis.png"/></a>
      <ul class="nav nav-pills" style="float:right;padding-top:20px">
        <li role="presentation" id="active"><a href="index.html">WORK</a></li>
        <li role="presentation"><a href="../resume/index.html">ABOUT</a></li>
      </ul>
    </div>   
  </nav> 
  <div class="container"> 	
    <div class="page-header">
  		<h1>{{ page.title }}</h1>
        <h3>{{ page.subtitle }}</h3>
        
        {% if page.category == 'sustainable design' %}
          <p class="sustainable-design">{{ page.category }}</p>
        {% elsif page.category == 'information design' %}
          <p class="information-design">{{ page.category }}</p>
        {% elsif page.category == 'environmental research' %}
          <p class="environmental-research">{{ page.category }}</p>
        {% endif %}
        
    </div>
      
    {{ content }}

  </div>

  <footer style="height:75px;width:90%">
    <div style="float:right">
      <p style="font-size:20px">
        <a href="mailto:colleenjmcginnis@gmail.com"><span class="fa fa-envelope" style="padding-right:5px"></a>
        <a href="https://www.linkedin.com/pub/colleen-mcginnis/27/691/45" target="_blank"><span class="fa fa-linkedin" style="padding-right:5px"></span></a>
        <a href="https://github.com/colleenmcginnis" target="_blank"><span class="fa fa-github" style="padding-right:5px"></span></a>
        <a href="https://instagram.com/cmcg1110/" target="_blank"><span class="fa fa-instagram" style="padding-right:5px"></span></a>
        <a href="https://twitter.com/cmcg1110" target="_blank"><span class="fa fa-twitter" style="padding-right:5px"></span></a>
      </p>
    </div>
  </footer>
  {% include twentysomething.html %}
</body>
</html>
